h1 {
    font-family: 'Ribeye';
}
.header {
    background-image: url("../images/h_img.jpg" );
    padding: 120px;
    margin-top: 0%;
    color: aliceblue;
}
@media screen and (min-width: 900px) {
    body {
      background-color: #d68060;
    }
  }
#about {
    text-align: center;
}
    
