h1 {
    font-family: 'Ribeye';
    font-size: 60px;
}
h1:hover {
  color: #0f0f0f;
  background-color: #db6400;
}
.header {
    background-image: url("../images/h_img.jpg");
    text-align: center;
    padding: 30px;
    color: aliceblue;
}
@media screen and (min-width: 900px) {
    body {
      background-color: #d68060;
      height: 100%;
    }
  }
#about {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
#services {
    text-align: center;
    background-image: url(../images/s_image.jpg);
    color: #f3f2da;
    padding-top: 10px;
    padding-bottom: 10px;
}
#what-we-do {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding:  2%;
    padding-right: 10%;
  }
  .column {
    flex: 25%;
    max-width: 15%;
    padding:  2px;
    justify-content: space-evenly;
  }
  
  .column img {
    margin-top: 5px;
    vertical-align:auto;
    width: 200px;
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  .container1 {
      text-align: center;
      justify-content: space-evenly;
      padding: 0px;
  }
 .container2 {
     text-align: center;
     padding: 0px;
 }
 footer {
     padding: 5%;
     background-color: #0f0f0f;
     color: aliceblue;
     width:inherit;
     text-align: center;
    
 }
 p {
     font-family: 'Redressed';
     font-size: 30px;
 }
footer > img {
    padding: 30px;
}
h2 {
    font-family: 'Indie Flower';
    font-size: 50px;
    background-color: #f3f2da;
}
h2:hover {
  color: aqua;
  background-color: #db6400;
}
#services > h2 {
    color: black;
}
.container1 p {
  display: none;
  /*background-color: #edf285;*/
  font-size: 24px;
}
.container3 {
  text-align: center;
  background-image: url(../images/c_image.jpg);
}
h3 {
  font-family: monospace;
  font-size: 40px;
}
h3:hover {
  color: black;
  background-color: aquamarine;
}
#some-element {
  /*border: 1px solid #ccc;*/
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
  display: block;
}
    
